server {
  enabled = true
  bootstrap_expect = {{ NOMAD_CLUSTER_SERVERS }}
}

bind_addr = "{{ inventory_hostname }}"

advertise {
  # Defaults to the first private IP address.
  http = "{{ inventory_hostname }}"
  rpc  = "{{ inventory_hostname }}"
  serf = "{{ inventory_hostname }}"
}




# Require TLS
tls {
  http = true
  rpc  = true

  ca_file   = "/etc/nomad.d/nomad-ca.pem"
  cert_file = "/etc/nomad.d/server.pem"
  key_file  = "/etc/nomad.d/server-key.pem"

  verify_server_hostname = true
  verify_https_client    = true
}